In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import yfinance as yf
import pickle
import os
import math
from ReferentialData.polygonData import PolygonAPI
from DataAnalysis import DataExtensions
from Filtering.KalmanFilter import KalmanFilter
import glob

Load Data

In [3]:
DIR = r'C:\Users\raymo\OneDrive\Desktop\Ray Stuff\_Cache'
root_dir = r'C:\Users\raymo\OneDrive\Desktop\Playground\Financial-Modelling-Playground\Quant_Trading\Histo'
COR_DIR = r'\Users\raymo\OneDrive\Desktop\Playground\Financial-Modelling-Playground\Quant_Trading\Clustering'

In [4]:
# Tickers to Load
UNIVERSE = list(pd.read_csv(os.path.join(root_dir, 'clean_names.csv'))['0'])
## End Date
end_dt = "2025-01-01"
## Start date
start_dt = "2020-01-01"

In [15]:
colnames = ["Close", "Volume"]
DataLoader = PolygonAPI()
MID_LOADED = False
HIGH_LOADED = False
if not MID_LOADED:
    mid_df = {}
if not HIGH_LOADED:
    high_df = {}
# ### loading in low frequency data
# if len(mid_df) == 0:
#     mid_df = DataLoader.getPrices(UNIVERSE, "day", logDir=os.path.join(DIR,"Beta_Callibration"), _parallel=True)
#     MID_LOADED = True

### loading in high frequency data
if len(high_df) == 0:
    high_df = DataLoader.getPrices(UNIVERSE, "minute", start_dt, end_dt, logDir=DIR, override=False, _parallel=True)
    HIGH_LOADED = True

In [16]:
high_df

({'AVDV':          open     high      low   close    volume     vwap      timestamp  \
  0     55.1800  55.2800  55.1800  55.199    2912.0  55.2299  1578322800000
  1     55.3700  55.3800  55.2800  55.280    1017.0  55.3617  1578330000000
  2     55.3692  55.4200  55.2481  55.420    1192.0  55.3729  1578333600000
  3     55.4200  55.4200  55.4100  55.420     900.0  55.4133  1578337200000
  4     55.4250  55.4250  55.4200  55.420    1100.0  55.4209  1578340800000
  ...       ...      ...      ...     ...       ...      ...            ...
  8615  68.4843  68.5000  68.3400  68.440   40926.0  68.4336  1733846400000
  8616  68.4500  68.5199  68.3900  68.400   54271.0  68.4357  1733850000000
  8617  68.4100  68.5900  68.3800  68.470   73222.0  68.4496  1733853600000
  8618  68.4700  68.5690  68.4301  68.480  115993.0  68.4937  1733857200000
  8619  68.5400  68.5499  68.3100  68.320  170279.0  68.4327  1733860800000

        transactions  otc
  0                9  NaN
  1                7  NaN
  2               11  NaN
  3                4  NaN
  4                9  NaN
  ...            ...  ...
  8615           245  NaN
  8616           405  NaN
  8617           527  NaN
  8618           568  NaN
  8619          1156  NaN

  [8620 rows x 9 columns],
  'ASHR':          open    high    low   close     volume     vwap      timestamp  \
  0      29.750  29.750  29.75  29.750      300.0  29.7500  1578301200000
  1      29.890  29.890  29.77  29.770     1160.0  29.7918  1578315600000
  2      29.800  29.890  29.79  29.885   654060.0  29.8663  1578319200000
  3      29.885  29.940  29.88  29.915   535936.0  29.9119  1578322800000
  4      29.920  29.925  29.91  29.915   343633.0  29.9162  1578326400000
  ...       ...     ...    ...     ...        ...      ...            ...
  14197  27.660  27.665  27.61  27.625   975505.0  27.6372  1733857200000
  14198  27.625  27.670  27.61  27.630  3030188.0  27.6401  1733860800000
  14199  27.630  27.650  27.60  27.650   713103.0  27.6100  1733864400000
  14200  27.680  27.740  27.68  27.680     1400.0  27.6843  1733871600000
  14201  27.700  27.750  27.70  27.750     6755.0  27.7054  1733875200000

         transactions  otc
  0                 2  NaN
  1                 8  NaN
  2              1929  NaN
  3              2143  NaN
  4              1817  NaN
  ...             ...  ...
  14197          2217  NaN
  14198          7977  NaN
  14199            19  NaN
  14200             6  NaN
  14201             6  NaN

  [14202 rows x 9 columns],
  'ARKW':            open      high       low    close   volume      vwap  \
  0       58.0000   58.0000   58.0000   58.000    200.0   58.0000
  1       58.0000   58.6400   57.9500   58.600  14324.0   58.3167
  2       58.6169   58.9496   58.6169   58.940  15193.0   58.7706
  3       58.9389   58.9900   58.8800   58.930  12684.0   58.9371
  4       58.9599   58.9599   58.8486   58.860  11840.0   58.8846
  ...         ...       ...       ...      ...      ...       ...
  12655  115.2500  115.2600  114.4600  114.475  31127.0  114.8484
  12656  114.5000  114.6150  113.9300  114.100  29748.0  114.1452
  12657  113.9500  114.4698  113.5500  113.640  15421.0  114.0332
  12658  113.6500  114.0200  113.1785  113.730  46956.0  113.6664
  12659  114.8800  114.8800  114.8800  114.880    100.0  114.8800

             timestamp  transactions  otc
  0      1578312000000             1  NaN
  1      1578319200000           145  NaN
  2      1578322800000           123  NaN
  3      1578326400000            68  NaN
  4      1578330000000            36  NaN
  ...              ...           ...  ...
  12655  1733850000000           318  NaN
  12656  1733853600000           345  NaN
  12657  1733857200000           313  NaN
  12658  1733860800000           763  NaN
  12659  1733875200000             1  NaN

  [12660 rows x 9 columns],
  'AQWA':          open    high      low    close  volume     vwap      timestamp  \
  0     15.3500  15.350  15.3171  15.3171     500  15.3374  1618243200000
  1     15.2900  15.290  15.2200  15.2200    1700  15.2474  1618318800000
  2     15.2800  15.280  15.2800  15.2800     200  15.2800  1618326000000
  3     15.3000  15.309  15.2927  15.2955     800  15.2978  1618329600000
  4     15.3400  15.340  15.3400  15.3400     121  15.3400  1618405200000
  ...       ...     ...      ...      ...     ...      ...            ...
  3132  18.4207  18.440  18.4207  18.4400     304  18.4277  1733756400000
  3133  18.4500  18.450  18.4200  18.4200     348  18.4372  1733763600000
  3134  18.2100  18.210  18.0000  18.0000    1322  18.1542  1733839200000
  3135  18.1565  18.158  18.1300  18.1580    2047  18.1458  1733857200000
  3136  18.1700  18.170  18.0810  18.0810     449  18.1304  1733860800000

        transactions  otc
  0                6  NaN
  1                8  NaN
  2                2  NaN
  3                8  NaN
  4                3  NaN
  ...            ...  ...
  3132             3  NaN
  3133             3  NaN
  3134             8  NaN
  3135            18  NaN
  3136             5  NaN

  [3137 rows x 9 columns],
  'ARB':         open   high      low  close   volume     vwap      timestamp  \
  0     25.120  25.12  25.1000  25.10  10100.0  25.1002  1588860000000
  1     25.080  25.09  25.0585  25.09  49200.0  25.0899  1588863600000
  2     25.090  25.09  25.0900  25.09  20450.0  25.0900  1588867200000
  3     25.080  25.08  25.0800  25.08    100.0  25.0800  1588870800000
  4     25.100  25.10  25.1000  25.10  10225.0  25.1000  1588874400000
  ...      ...    ...      ...    ...      ...      ...            ...
  4250  27.770  27.77  27.7700  27.77    119.0  27.7842  1733842800000
  4251  27.830  27.83  27.8100  27.81    360.0  27.8259  1733846400000
  4252  27.820  27.82  27.8200  27.82   1982.0  27.8200  1733853600000
  4253  27.790  27.84  27.7900  27.84   1092.0  27.8334  1733857200000
  4254  27.818  27.84  27.7700  27.77   3366.0  27.7824  1733860800000

        transactions  otc
  0                2  NaN
  1                4  NaN
  2                4  NaN
  3                1  NaN
  4                2  NaN
  ...            ...  ...
  4250             2  NaN
  4251             3  NaN
  4252             5  NaN
  4253             7  NaN
  4254            29  NaN

  [4255 rows x 9 columns],
  'AOR':          open     high      low      close    volume     vwap      timestamp  \
  0     47.8000  47.8500  47.7512  47.849900   19850.0  47.8253  1578319200000
  1     47.8398  47.9153  47.8338  47.879400    5678.0  47.8791  1578322800000
  2     47.8856  47.8856  47.8500  47.880000   26181.0  47.8616  1578326400000
  3     47.8700  47.8852  47.8600  47.880000    9993.0  47.8736  1578330000000
  4     47.8900  47.9200  47.8900  47.910000    7084.0  47.9119  1578333600000
  ...       ...      ...      ...        ...       ...      ...            ...
  8857  59.4100  59.4100  59.3650  59.375000   61218.0  59.3793  1733846400000
  8858  59.3750  59.3900  59.3582  59.364635  162210.0  59.3621  1733850000000
  8859  59.3550  59.4000  59.3450  59.385000   44235.0  59.3738  1733853600000
  8860  59.3800  59.3950  59.3601  59.365000   49454.0  59.3720  1733857200000
  8861  59.3700  59.3700  59.2800  59.285000   58715.0  59.3206  1733860800000

        transactions  otc
  0               28  NaN
  1               46  NaN
  2               67  NaN
  3               44  NaN
  4               34  NaN
  ...            ...  ...
  8857           184  NaN
  8858           172  NaN
  8859            94  NaN
  8860           185  NaN
  8861           247  NaN

  [8862 rows x 9 columns],
  'AOTG':         open     high      low    close  volume     vwap      timestamp  \
  0    24.6000  24.6000  24.3300  24.5500     364  24.4966  1656507600000
  1    25.0000  25.0000  24.7000  24.7000  149802  24.9268  1656511200000
  2    24.7500  24.9500  24.3870  24.9500  140815  24.7108  1656514800000
  3    24.6050  24.6050  24.6000  24.6000   40100  24.6000  1656518400000
  4    24.6800  24.6800  24.5500  24.6600  138200  24.6336  1656522000000
  ..       ...      ...      ...      ...     ...      ...            ...
  748  47.4300  47.4300  47.4300  47.4300     140  47.4300  1733428800000
  749  47.0600  47.0600  47.0600  47.0600     168  47.0600  1733493600000
  750  48.4000  48.4000  48.4000  48.4000     316  48.3977  1733752800000
  751  47.2800  47.2800  47.2800  47.2800     100  47.2800  1733760000000
  752  47.1002  47.1002  47.1002  47.1002     100  47.1002  1733842800000

       transactions  otc
  0               4  NaN
  1              31  NaN
  2              49  NaN
  3              21  NaN
  4              43  NaN
  ..            ...  ...
  748             1  NaN
  749             1  NaN
  750             5  NaN
  751             1  NaN
  752             1  NaN

  [753 rows x 9 columns],
  'AOM':          open   high      low    close   volume     vwap      timestamp  \
  0     40.2000  40.22  40.1600  40.1804  23774.0  40.1971  1578319200000
  1     40.1804  40.23  40.1804  40.2084  36693.0  40.2133  1578322800000
  2     40.2150  40.23  40.1600  40.2200  19408.0  40.1870  1578326400000
  3     40.2117  40.23  40.1853  40.2010  10732.0  40.2069  1578330000000
  4     40.2300  40.26  40.2018  40.2200  17642.0  40.2232  1578333600000
  ...       ...    ...      ...      ...      ...      ...            ...
  8818  44.9050  44.92  44.8700  44.8999  28265.0  44.8979  1733846400000
  8819  44.9082  44.92  44.8823  44.8823  17925.0  44.9104  1733850000000
  8820  44.9000  44.92  44.8801  44.9011  14966.0  44.8993  1733853600000
  8821  44.9100  44.92  44.9001  44.9100  27604.0  44.9069  1733857200000
  8822  44.9100  44.91  44.8600  44.8600  28656.0  44.8872  1733860800000

        transactions  otc
  0               61  NaN
  1               52  NaN
  2               24  NaN
  3               34  NaN
  4               24  NaN
  ...            ...  ...
  8818           100  NaN
  8819            75  NaN
  8820            96  NaN
  8821            86  NaN
  8822           140  NaN

  [8823 rows x 9 columns],
  'ANGL':          open     high    low    close    volume     vwap      timestamp  \
  0     29.9700  29.9700  29.97  29.9700     144.0  29.9700  1578315600000
  1     29.9500  29.9700  29.85  29.8910   60619.0  29.9089  1578319200000
  2     29.8900  29.9050  29.88  29.9000  113875.0  29.8851  1578322800000
  3     29.8949  29.9100  29.89  29.9042   31772.0  29.8994  1578326400000
  4     29.9050  29.9100  29.90  29.9021   14347.0  29.9052  1578330000000
  ...       ...      ...    ...      ...       ...      ...            ...
  9499  29.1692  29.1900  29.16  29.1650   63360.0  29.1730  1733846400000
  9500  29.1650  29.1700  29.16  29.1650   20755.0  29.1653  1733850000000
  9501  29.1650  29.1899  29.16  29.1850   41747.0  29.1688  1733853600000
  9502  29.1800  29.2450  29.18  29.2450   76897.0  29.2137  1733857200000
  9503  29.2500  29.2500  29.23  29.2500  119128.0  29.2416  1733860800000

        transactions  otc
  0                1  NaN
  1              195  NaN
  2              127  NaN
  3              105  NaN
  4               69  NaN
  ...            ...  ...
  9499           423  NaN
  9500           147  NaN
  9501           331  NaN
  9502           465  NaN
  9503           571  NaN

  [9504 rows x 9 columns],
  'ACWI':           open     high       low     close    volume      vwap  \
  0       79.000   79.000   79.0000   79.0000     130.0   79.0000
  1       78.930   79.190   78.9101   79.1500  244693.0   79.0817
  2       79.170   79.375   79.1400   79.3179  237268.0   79.2613
  3       79.320   79.370   79.2900   79.3250  228428.0   79.3435
  4       79.320   79.385   79.3100   79.3450  596187.0   79.3327
  ...        ...      ...       ...       ...       ...       ...
  10004  122.480  122.540  122.3300  122.3950  217800.0  122.3967
  10005  122.395  122.445  122.3150  122.3150  236473.0  122.3863
  10006  122.310  122.400  122.2750  122.3000  193309.0  122.3258
  10007  122.300  122.330  122.2150  122.2400  180674.0  122.2664
  10008  122.235  122.235  121.9650  122.1000  395708.0  122.0691

             timestamp  transactions  otc
  0      1578312000000             1  NaN
  1      1578319200000           795  NaN
  2      1578322800000           649  NaN
  3      1578326400000           402  NaN
  4      1578330000000           806  NaN
  ...              ...           ...  ...
  10004  1733846400000          2294  NaN
  10005  1733850000000          2184  NaN
  10006  1733853600000          2150  NaN
  10007  1733857200000          2130  NaN
  10008  1733860800000          3536  NaN

  [10009 rows x 9 columns],
  'AIQ':          open     high      low    close  volume     vwap      timestamp  \
  0     18.0000  18.0984  17.9700  18.0700   10572  17.9995  1578319200000
  1     18.0996  18.2000  18.0996  18.2000     352  18.1487  1578322800000
  2     18.1686  18.1686  18.1400  18.1400    3446  18.1430  1578326400000
  3     18.1471  18.1471  18.1127  18.1127     632  18.1225  1578330000000
  4     18.2003  18.2486  18.1919  18.2486    2094  18.2126  1578340800000
  ...       ...      ...      ...      ...     ...      ...            ...
  9888  39.9400  39.9600  39.8700  39.8900   47290  39.9226  1733850000000
  9889  39.8900  39.9200  39.8524  39.8765   37666  39.8907  1733853600000
  9890  39.8700  39.8800  39.7202  39.7607   43395  39.8168  1733857200000
  9891  39.7500  39.7700  39.6500  39.7500   58568  39.7154  1733860800000
  9892  39.8400  39.8400  39.8400  39.8400     100  39.8400  1733864400000

        transactions  otc
  0               47  NaN
  1                5  NaN
  2                6  NaN
  3                8  NaN
  4               10  NaN
  ...            ...  ...
  9888           381  NaN
  9889           283  NaN
  9890           489  NaN
  9891           615  NaN
  9892             1  NaN

  [9893 rows x 9 columns],
  'AIEQ':          open     high      low    close  volume     vwap      timestamp  \
  0     28.3900  28.5605  28.3900  28.4800    8476  28.4743  1578319200000
  1     28.5000  28.6300  28.5000  28.6300    1843  28.5719  1578322800000
  2     28.6575  28.6575  28.6408  28.6408     403  28.6489  1578326400000
  3     28.6125  28.6200  28.6100  28.6200    1579  28.6132  1578330000000
  4     28.6400  28.6700  28.6200  28.6700    3030  28.6503  1578333600000
  ...       ...      ...      ...      ...     ...      ...            ...
  8300  41.3700  41.3700  41.3000  41.3000     237  41.3400  1733846400000
  8301  41.3000  41.3900  41.3000  41.3900     825  41.3306  1733850000000
  8302  41.3008  41.3579  41.3008  41.3310    2290  41.3077  1733853600000
  8303  41.3555  41.3555  41.3555  41.3555     240  41.3555  1733857200000
  8304  41.1955  41.2700  41.1955  41.2400    1271  41.2278  1733860800000

        transactions  otc
  0               16  NaN
  1               16  NaN
  2                3  NaN
  3               10  NaN
  4               11  NaN
  ...            ...  ...
  8300             7  NaN
  8301            11  NaN
  8302             8  NaN
  8303             1  NaN
  8304             8  NaN

  [8305 rows x 9 columns],
  'AGQ':          open     high      low    close    volume     vwap      timestamp  \
  0      33.530  33.6500  33.5300  33.6400   12022.0  33.5974  1578312000000
  1      33.580  33.7100  33.3000  33.3900    7059.0  33.5032  1578315600000
  2      33.410  33.5300  33.1700  33.1700  180872.0  33.3497  1578319200000
  3      33.170  33.2899  32.1600  32.3900  125852.0  32.7866  1578322800000
  4      32.350  32.5243  32.3100  32.4800   26697.0  32.4062  1578326400000
  ...       ...      ...      ...      ...       ...      ...            ...
  18171  41.880  41.8850  41.6801  41.7500  322181.0  41.7643  1733860800000
  18172  41.731  42.0100  41.7310  41.9800   17333.0  41.8397  1733864400000
  18173  41.990  42.1000  41.9800  42.0599    2875.0  42.0295  1733868000000
  18174  42.000  42.0600  42.0000  42.0600   14465.0  42.0481  1733871600000
  18175  42.100  42.2872  42.0600  42.0600    5701.0  42.1529  1733875200000

         transactions  otc
  0                28  NaN
  1                21  NaN
  2               418  NaN
  3               424  NaN
  4               114  NaN
  ...             ...  ...
  18171          1318  NaN
  18172            81  NaN
  18173            11  NaN
  18174            10  NaN
  18175            16  NaN

  [18176 rows x 9 columns],
  'ZROZ':              open      high       low     close  volume      vwap  \
  0      139.480000  139.7400  139.2800  139.2800    4990  139.4929
  1      139.330000  139.3550  138.9542  138.9542    1063  139.2070
  2      138.287100  138.2871  137.2701  137.7600    6072  137.7436
  3      137.874700  137.8747  137.7445  137.7445    1116  137.8232
  4      137.931300  138.1700  137.9313  138.1700   38577  138.1689
  ...           ...       ...       ...       ...     ...       ...
  10278   76.495000   76.8400   76.4950   76.6331   25219   76.6389
  10279   76.686482   76.7893   76.4800   76.5900    5764   76.6200
  10280   76.570000   76.7600   76.5133   76.6900  131756   76.6519
  10281   76.710000   76.9900   76.6738   76.8100   17904   76.7392
  10282   76.740000   76.8700   76.5000   76.5300   23856   76.7397

             timestamp  transactions  otc
  0      1578319200000            22  NaN
  1      1578322800000            11  NaN
  2      1578326400000            41  NaN
  3      1578330000000             4  NaN
  4      1578333600000             4  NaN
  ...              ...           ...  ...
  10278  1733846400000           116  NaN
  10279  1733850000000            48  NaN
  10280  1733853600000            98  NaN
  10281  1733857200000           139  NaN
  10282  1733860800000           208  NaN

  [10283 rows x 9 columns],
  'AFK':          open     high      low    close  volume     vwap      timestamp  \
  0     20.1800  20.1800  20.1100  20.1100    3100  20.1726  1578319200000
  1     20.1200  20.1200  20.1200  20.1200     254  20.1203  1578322800000
  2     20.1162  20.1400  20.1100  20.1366    3228  20.1309  1578326400000
  3     20.1400  20.2006  20.1400  20.2000    4396  20.1550  1578330000000
  4     20.2220  20.2220  20.2220  20.2220     458  20.2220  1578333600000
  ...       ...      ...      ...      ...     ...      ...            ...
  7132  16.5450  16.6139  16.4500  16.5800    1571  16.5346  1733846400000
  7133  16.6000  16.6000  16.4600  16.4600    1458  16.4971  1733850000000
  7134  16.5000  16.5300  16.5000  16.5000    1200  16.5096  1733853600000
  7135  16.6499  16.6499  16.6499  16.6499     230  16.6499  1733857200000
  7136  16.5750  16.6036  16.4600  16.5300    3151  16.5381  1733860800000

        transactions  otc
  0                4  NaN
  1                2  NaN
  2               16  NaN
  3                6  NaN
  4                1  NaN
  ...            ...  ...
  7132            26  NaN
  7133            30  NaN
  7134             6  NaN
  7135             1  NaN
  7136            34  NaN

  [7137 rows x 9 columns],
  'YCL':          open     high      low    close  volume     vwap      timestamp  \
  0     56.4300  56.4300  56.4300  56.4300     230  56.4300  1578319200000
  1     56.2800  56.2800  56.2800  56.2800     100  56.2800  1578322800000
  2     56.1198  56.1198  56.1198  56.1198    2000  56.1198  1578333600000
  3     55.9600  55.9600  55.9500  55.9500     509  55.9520  1578409200000
  4     55.9100  55.9100  55.9100  55.9100   14903  55.9100  1578420000000
  ...       ...      ...      ...      ...     ...      ...            ...
  6696  21.7700  21.7700  21.7400  21.7570    6925  21.7596  1733850000000
  6697  21.8000  21.8000  21.8000  21.8000     100  21.8000  1733853600000
  6698  21.8350  21.8400  21.8100  21.8101    4425  21.8159  1733857200000
  6699  21.8400  21.8400  21.8100  21.8250    1332  21.8251  1733860800000
  6700  21.7600  21.7600  21.7300  21.7300     200  21.7450  1733864400000

        transactions  otc