In [8]:
from importlib import reload
import backtest
import order_book
import signal_1

In [3]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import yfinance as yf

In [4]:
tickers = ['TSLA', 'GS']
colnames = []
for ticker in tickers:
    ts = yf.Ticker(ticker)
    data = ts.history(interval="1h", period="2y")["Close"]
    if len(colnames)==0:
        combined = data.copy()
    else:
        combined = pd.concat([combined, data.copy()], axis = 1)
    colnames.append(ticker)
    combined.columns = colnames

In [5]:
combined.head()

                                 TSLA          GS
Datetime
2022-05-18 09:30:00-04:00  250.619995  309.450012
2022-05-18 10:30:00-04:00  245.186661  308.750000
2022-05-18 11:30:00-04:00  238.429993  308.820007
2022-05-18 12:30:00-04:00  235.766663  309.089996
2022-05-18 13:30:00-04:00  235.646667  308.649994

In [6]:
df = combined.reset_index()

In [7]:
df.rename(columns={'Datetime':'Date'},

                      Datetime        TSLA          GS
0    2022-05-18 09:30:00-04:00  250.619995  309.450012
1    2022-05-18 10:30:00-04:00  245.186661  308.750000
2    2022-05-18 11:30:00-04:00  238.429993  308.820007
3    2022-05-18 12:30:00-04:00  235.766663  309.089996
4    2022-05-18 13:30:00-04:00  235.646667  308.649994
...                        ...         ...         ...
3504 2024-05-17 11:30:00-04:00  179.255005  467.820007
3505 2024-05-17 12:30:00-04:00  177.220001  468.149994
3506 2024-05-17 13:30:00-04:00  176.170105  466.510010
3507 2024-05-17 14:30:00-04:00  177.120102  467.170013
3508 2024-05-17 15:30:00-04:00  177.460007  467.720001

[3509 rows x 3 columns]